In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("Span_new.csv")

In [4]:
df

,Unnamed: 0,ID,make,model,months_old,power,gear_type,fuel_type,kms,price,age
0,0,97860,Porsche,911,240.0,210.0,manual,gasoline,202000.0,999999,1998.0
1,1,27821,Ford,Mustang,54.0,487.0,manual,gasoline,30000.0,685000,2013.0
2,2,97801,Porsche,911,358.0,220.0,manual,gasoline,56300.0,555555,1988.0
3,3,98251,Porsche,911,14.0,368.0,manual,gasoline,2800.0,470000,2016.0
4,4,98250,Porsche,911,3.0,515.0,unknown,gasoline,10.0,450000,2017.0
...,...,...,...,...,...,...,...,...,...,...,...
92380,93986,38173,Opel,Astra,275.0,52.0,manual,gasoline,134700.0,350,1995.0
92381,93987,57303,Volkswagen,Polo,232.0,37.0,manual,gasoline,67762.0,350,1998.0
92382,93988,14541,Bmw,320,186.0,125.0,manual,gasoline,200000.0,300,2002.0
92383,93989,103604,Seat,Toledo,276.0,66.0,manual,gasoline,196000.0,300,1995.0
92384,93990,99672,Seat,Cordoba,232.0,81.0,manual,diesel,150000.0,200,1998.0

In [ ]:
df.plot(kind="bar")